@font-face {
    font-family: 'museo_sans';
    src: url('../media/fonts/museosans-100-webfont.woff2') format('woff2'),
        url('../media/fonts/museosans-100-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans';
    src: url('../media/fonts/museosans-300-webfont.woff2') format('woff2'),
        url('../media/fonts/museosans-300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans';
    src: url('../media/fonts/museosans_500-webfont.woff2') format('woff2'),
        url('../media/fonts/museosans_500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans';
    src: url('../media/fonts/museosans_700-webfont.woff2') format('woff2'),
        url('../media/fonts/museosans_700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans';
    src: url('../media/fonts/museosans_900-webfont.woff2') format('woff2'),
        url('../media/fonts/museosans_900-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

body {
    color: rgb(0, 73, 144);
    background-color: #dddddd;
    font-family: 'museo_sans';
    overflow-y: hidden;
}

body .container-fluid {
    padding: 4rem 7rem;
}

.scene-title {
    font-weight: 900;
    font-size: 2.5rem;
}

.scene-subtitle {
    font-weight: 300;
    font-size: 2rem;
}

.clearfix {
    margin: 1rem 0;
    height: 1px;
}

.info .header {
    padding: 4px 0;
    background-color: rgb(0, 73, 144);
    color: white;
    font-size: 1.8rem;
}

.info .content .row div {
    border: 1px solid #d6d6d6;
    font-weight: 500;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.btn-hexagon {
    position: relative;
    width: 120px;
    height: 69.28px;
    margin: 34.64px 0;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgb(199, 199, 199);
    text-align: center;
}

.btn-hexagon p {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn-hexagon:before,
.btn-hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.btn-hexagon:before {
    bottom: 100%;
    left: 0;
    border-bottom: 34.64px solid rgb(199, 199, 199);
}

.btn-hexagon:after {
    top: 100%;
    left: 0;
    width: 0;
    border-top: 34.64px solid rgb(199, 199, 199);
}

.btn-hexagon.home {
    background-color: rgb(79, 160, 46);
    color: white;
    font-size: 1.5rem;
}

.btn-hexagon.home:before {
    border-bottom: 34.64px solid rgb(79, 160, 46);
}

.btn-hexagon.home:after {
    border-top: 34.64px solid rgb(79, 160, 46);
}

.btn-hexagon.active {
    background-color: rgb(12, 21, 138);
    color: white;
}

.btn-hexagon.active:before {
    border-bottom: 34.64px solid rgb(12, 21, 138);
}

.btn-hexagon.active:after {
    border-top: 34.64px solid rgb(12, 21, 138);
}

.btn-invisible {
    position: absolute;
    background-color: transparent;
    width: 80px;
    height: 80px;
}

.btn-selected {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.btn-infor {
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 47%;
    cursor: pointer;
    display: none;
}

.arrow img {
    width: 50px;
    height: 70px;
}

.arrow.right {
    right: 10px;
}

.arrow.left {
    left: 10px;
    display: block;
}

.title {
    font-size: 2.2rem;
    font-weight: 300;
}

.title.green {
    color: rgb(79, 160, 46);
}

.pointer {
    cursor: pointer;
}

.video-container img {
    position: absolute;
    left: calc(50% - 2.5vw);
    top: 80%;
    width: 5vw;
    pointer-events: none;
}

.btn-title {
    pointer-events: none;
    position: absolute;
    top: 33%;
    left: 35%;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.exception img{
    max-width: 50%;
}

@media(max-width: 1280px) {

    body .container-fluid {
        padding: 1rem 4rem;
    }

    .scene-title {
        font-size: 2rem;
    }

    .scene-subtitle {
        font-size: 1.5rem;
    }

    .clearfix {
        margin: .5rem 0;
    }

    .info .header {
        padding: 4px 0;
        font-size: 1.4rem;
    }

    .info .content .row div {
        padding: 5px 10px;
        font-size: 1rem;
    }

    .arrow {
        position: absolute;
        top: 47%;
        cursor: pointer;
        display: none;
    }

    .arrow img {
        width: 40px;
        height: 60px;
    }

    .arrow.right {
        right: 5px;
    }

    .arrow.left {
        left: 5px;
        display: block;
    }

    .btn-title{
        top: 33%;
        left: 35%;
        font-size: 1rem;
    }
}